@use 'variables' as var;

.modal {
  position: fixed;
  top: calc(50vh - 45rem);
  left: calc(50% - 29rem);
  width: 58rem;
  max-height: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  border-radius: 1.5rem;
  padding: 3rem 0;

  &-back {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color: #000000, $alpha: 0.4);
    z-index: 11;
  }

  &-body {
    width: 85%;
  }
  & > .divider {
    width: 100%;
    margin: 2.6rem 0;
  }
  &__label,
  &-title {
    font-size: 2.8rem;
    line-height: 1;
    font-weight: 700;
    color: #191919;
  }

  &__label {
    font-size: 1.8rem;
  }

  &-edit__img {
    width: 16.2rem;
    height: 16.2rem;
    margin: 0 auto;
    background-color: #dbdbdb;
    border-radius: 50%;
    overflow: hidden;
  }
  .btn__regist {
    width: calc(50% - 1rem);
  }
  header {
    position: relative;
    button {
      color: transparent;
    }
    .btn-close::before {
      position: absolute;
      top: 5.5px;
      right: 0;
      margin-right: 9px;
      display: block;
      content: "";
      width: 2px;
      height: 25px;
      background-color: #333;
      transform: rotate(40deg);
    }

    .btn-close::after {
      position: absolute;
      top: 5.5px;
      right: 0;
      margin-right: 9px;
      display: block;
      content: "";
      width: 2px;
      height: 25px;
      background-color: #333;
      transform: rotate(-40deg);
    }
  }
  footer {
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2rem 0 0;
    a {
      text-align: right;
      display: inline-block;
      font-size: 1.4rem;
      padding: 2rem 2rem 0 0;
    }
  }
}

.input {
  &-util {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__bind-label {
    input[type="file"] {
      display: none;
    }
    label[for="editProfileImg"],
    label[for="editBanner"] {
      color: var(--main-blue-color);
      font-size: 1.8rem;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

// TODO: jsh.scss 파일에서 가져옴 나중에 클래스 수정해서 합칠 것...
input[type="text"]:not(.login input, .signup-form input) {
  padding: 1.3333rem;
  font-size: 1.6rem;
  width: calc(100% - 7rem);
  margin-left: 4.8rem;
  height: 5.0666rem;
  background-color: #f1f1f5;
  border: 2px solid #f1f1f5;
  border-radius: 8px;

  &:focus {
    border: 2px solid #dbdbdb;
  }
}
