//
.float {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
  &-clear {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

.divider {
  width: 100%;
  height: 0.2rem;
  background-color: #dbdbdb;
}

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.8rem;
  &-wrap {
    margin-top: 1rem;
  }
  &__disabled {
    background-color: rgb(149, 144, 144);
    pointer-events: none;
  }
  &__primary {
    background-color: var(--main-blue-color);
    border: 3px solid var(--main-blue-color);
    color: #fff;
  }
  &__primary-outline {
    &:hover {
      transition: 0.3s;
      color: #fff;
      background-color: var(--main-blue-color);
    }
    background-color: #fff;
    border-style: solid;
    border-color: var(--main-blue-color);
    color: var(--main-blue-color);
  }
  &__black-outline {
    &:hover {
      transition: 0.3s;
      color: #fff;
      background-color: #000;
    }
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    color: #000;
  }
  &__light {
    background-color: #fff;
    border: 2px solid #191919;
    color: #191919;
  }
  &__large {
    width: 38.6666rem;
    height: 5.0666rem;
    line-height: 3.6rem;
  }
  &__medium {
    width: 38.6666rem;
    height: 5.0666rem;
  }
  &__small {
    border-width: 2px;
    width: 9.0666rem;
    height: 4rem;
  }
}

// 21.11.17 김도은 추가

.title {
  color: #191919;
  line-height: 1;
  text-align: center;
  &__large {
    font-size: 3.6rem;
    font-weight: 700;
  }
  &__medium {
    font-size: 3.2rem;
    font-weight: 500;
  }
  &__small {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

@mixin after($dis) {
  &::after {
    display: $dis;
    content: "";
    @content;
  }
}

@mixin setPosition($pos, $top, $right, $bottom, $left) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// flex 정중앙 정렬
@mixin setFlex($display: inline-flex, $justify: center, $align: center) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin ellipsis($line, $height: 3em) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  height: $height;
}

//이미지 bacseUrl
@function imgUrl($filename) {
  @return url("../images/#{$filename}");
}

@function like($count) {
  @return "❤ #{$count}";
}
