/***********************************************
******공통으로 사용할 변수들을 추가해주세요.******
***********************************************/

//기본 폰트 사이즈
$font-size: 1.4rem;

// 미디어쿼리를 위한 해상도별 넓이
$labtop: 1200px; // 769아상 ~ 1200이하
$tablet: 768px; //  361이상 ~ 768 이하
$mobile: 360px; //  360 이하
