@use 'common/utils' as util;

.btn__like {
  input[type="button"] {
    width: 2rem;
    height: 2.3rem;
    background: util.imgUrl("@ico-unlike.png") no-repeat center / contain;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 0;
    &.like {
      background: util.imgUrl("@ico-like.png") no-repeat center/ contain;
    }
  }
  label[for="likeBtn"] {
    font-size: 2rem;
    color: #767676;
  }
}

//디테일 페이지에서 하트 버튼
//  const onLikeHandler = () => setLike((prev) => prev + 1);
// <div className="btn__like">
// <input id="likeBtn" type="button" onClick={onLikeHandler} />
// <label htmlFor="likeBtn">{like}</label>
// </div>
