@use './common/utils' as utils;

//S: Post Card 스타일
.post {
  float: left;
  margin-bottom: 5rem;
  &:nth-child(3n-1) {
    margin: 0 3.6rem 5rem;
  }
  &__wrap {
    display: block;
    width: 100%;
    padding-bottom: 10rem;
  }
  &__thumb-nail {
    background-color: #c4c4c4;
    width: 37.6rem;
    height: 28.8rem;
  }
  &__desc {
    width: 37.6rem;
    height: 8.8rem;
  }
  &__main-info {
    @include utils.setFlex(flex, space-between, center);
  }
  &__title {
    display: inline-block;
    width: 30.6rem;
    margin-top: 0.8rem;
    font-size: 2.4rem;
    font-weight: 700;
    @include utils.ellipsis(1, 3.6rem);
  }
  &__sub-info {
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.8rem;
    color: #767676;
    font-weight: 400;

    span {
      display: inline-block;
      height: 100%;
      &:last-child {
        margin-left: 4rem;
      }
    }
  }

  // 글자 뒤 파티션 스타일
  &__sub-info > span:first-child {
    @include utils.after(inline-block) {
      width: 0.2rem;
      height: 2rem;
      background-color: #dbdbdb;
      margin: 0 1.2rem;
      line-height: 3.5rem;
      vertical-align: text-bottom;
    }
  }

  &__noresult {
    margin-top: 5rem;
    height: 20rem;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    color: #171717;
    line-height: 20rem;
  }
}
//E: Post Card 스타일

//S: Slick-Slider 스타일
.slider {
  &__wrap {
    width: 100%;
    height: 58rem;
    margin-bottom: 14rem;
    overflow: hidden;

    img {
      max-width: 100%;
    }
    .slick-slider.slick-initialized {
      width: 100%;
      height: 100%;
    }
  }

  &__img-1 {
    width: 100%;
    height: 58rem;
    background: utils.imgUrl("@img-slider-1.jpg") no-repeat center/ cover;
  }
  &__img-2 {
    width: 100%;
    height: 58rem;
    background: utils.imgUrl("@img-slider-2.jpg") no-repeat center/ cover;
  }
  &__img-3 {
    width: 100%;
    height: 58rem;
    background: utils.imgUrl("@img-slider-3.jpg") no-repeat 0 / cover;
  }
}

.slick {
  &-dots {
    bottom: 30px;
  }
  &-prev::before,
  &-next::before {
    font-size: 3rem;
  }
  &-prev {
    z-index: 2;
    left: 3rem;
  }
  &-next {
    z-index: 2;
    right: 3rem;
  }
}
//E: Slick-Slider 스타일

.btn__like {
  input[type="button"] {
    width: 2rem;
    height: 2.3rem;
    background: utils.imgUrl("@ico-unlike.png") no-repeat center / contain;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 0;
    &.like {
      background: utils.imgUrl("@ico-like.png") no-repeat center / contain;
    }
  }

  label[for="likeBtn"] {
    font-size: 2rem;
    color: #767676;
  }
}
